<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kinovea.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kinovea.Services.Properties.Settings>
            <setting name="PreferencesFile" serializeAs="String">
                <value>Preferences.xml</value>
            </setting>
            <setting name="HistoryVideo1" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo2" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo3" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo4" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo5" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo6" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo7" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo8" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo9" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryVideo10" serializeAs="String">
                <value />
            </setting>
            <setting name="FilesToSave" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SaveBrowserDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrowserDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Release" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="ExplorerVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExplorerSplitterDistance" serializeAs="String">
                <value>100</value>
            </setting>
        </Kinovea.Services.Properties.Settings>
    </userSettings>
</configuration>